<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 3</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <style> 
    </style>


    </head>

    <body class="h-full grid place-items-center">
        <div id="app">

            <section class="mt-8"> 
                <h2 class="font-bold mb-2"> In progress assignments</h2>

                <ul>
                    <li v-for="assignment in assignments.filter(a=> ! a.complete)" :key="assignment.id">
                        <label>
                            {{assignment.name}}
                            <input type="checkbox" v-model="assignment.complete">
                        </label>
                    </li>
                    
                </ul>

            </section>

            <section v-show="assignments.filter(a=>a.complete).length" class="mt-8"> 
                <h2 class="font-bold mb-2"> completed assignments</h2>

                <ul>
                    <li v-for="assignment in assignments.filter(a => a.complete)" :key="assignment.id">
                        <label>
                            {{assignment.name}}
                            <input type="checkbox" v-model="assignment.complete">
                        </label>
                    </li>
                    
                </ul>

            </section>
        </div>

        <script>
            let app = {
                data() {
                    return {
                        assignments: [
                            { name: 'Finish project',complete: false, id: 1},
                            { name: 'Read chapter 4', complete: false, id: 2},
                            { name: 'read chapter 5', complete: false, id: 3}
                        ]
                    }
                }
            };

            Vue.createApp(app).mount('#app');
        </script>

    </body>

</html>